@font-face{
	font-family: Capriola;
	src: url(./fonts/Capriola/Capriola-Regular.ttf);
}
@font-face{
	font-family: Chewy;
	src: url(./fonts/Chewy/Chewy-Regular.ttf);
}
@font-face{
	font-family: Titane-One;
	src: url(./fonts/TitanOne/TitanOne-Regular.ttf);
}
@font-face{
	font-family: Itim;
	src: url(./fonts/Itim/Itim-Regular.ttf);
}
@font-face{
	font-family: BalooBhai;
	src: url(./fonts/BalooBhai/BalooBhai-Bold.ttf);
}