* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

/* RÈGLES GÉNÉRALES */
.wrapper {
    display: grid;
    place-items: center;
    /*height: 100vh; le conteneur s'ajuste en fonction du contenu */
}

a,
ul {
    text-decoration: none;
    list-style: none;
    color: black;
}

body {
    font-family: BalooBhai, sans-serif;
    background: url(images/background.jpg) center no-repeat;
    background-size: cover;
}

/*HEADER*/
.header {
    width: 100%;
    position: relative;
}

.logo {
    color: #F69637;
    ;
}

.logoNav {
    margin-bottom: 70px;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    font-family: Modak, sans-serif;
    font-size: 35px;
    padding: 3.5rem;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    font-family: BalooBhai;
    font-weight: 800;
}

.navbar li a{
    padding: 30px;

    font-size: 20px;
}

.navbar li:nth-child(3n) a {
    /*background orange profil*/
    font-weight: 700;
    color: #ffffff;
    background-color: #F69637;
    border-radius: 3px;
    padding: 0.5rem 2rem;
}

.navbar li:nth-child(3n) a:hover {
    /*hover violet profil*/
    background-color: rgb(68, 18, 115);
    transition: all 200ms ease-in-out;
}

a:hover {
    color: #F69637;
    transition: all 0.3s ease;
}

.question {
    background-color: #ffffff;
    border-radius: 14px;
    padding: 20px;
    font-family: BalooBhai, sans-serif;
    font-size: 25px;
    width: 760px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.containerScoreButtons{
    display: flex;
    gap: 20px; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
}
.options{

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2 colonnes */
    gap: 20px;
    /*Espace entre les divs */
    margin-top: 20px;
}

.option-button {
    height: 250px;
    width: 370px;
    font-family: BalooBhai, sans-serif;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 14px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

#dinoImage {
    width: 400px;
    padding: 40px;
}

.display-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*padding: 15px;*/
    background-color: #ffffff;
    border-radius: 14px;
    padding: 20px;
    font-family: BalooBhai, sans-serif;
    font-size: 10px;
    width: 760px;

    margin-bottom: 50px;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.button-container,
#next-button {
    justify-content: end;
}

#next-button,
#replay-button {
    background-color: #ea923a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: BalooBhai, sans-serif;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.box-buttonReplay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#next-button:hover,
#replay-button:hover {
    background-color: #F69637;
    /* Couleur de fond au survol */
    transform: scale(1.05);
    /* Agrandissement léger */
}
.dyno {
    height: 170px;
    width: 170px;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    position: relative; /* Permet de positionner le sous-menu */
  }
  .submenu {
    display: none;    /*Masquer le sous-menu par défaut */
    position: absolute;
    background-color: #ffffff;
  }
  
  .menu li:hover .submenu {
    display: block; /* Afficher le sous-menu au survol */
  }
  
  .submenu li {
    padding: 10px;
  }
  


#next-button:active,
#replay-button:active {
    background-color: rgb(68, 18, 115);
    /* Couleur de fond au clic */
    transform: scale(0.98);
    /* Rétrécissement léger */
}

.display-end {
    padding: 10px;
    font-size: 20px;
    flex-direction: column;
}

/* progress bar */
.progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    /*margin-bottom: 30px;*/
}

.progress {
    width: 0%;
    height: 20px;
    background-color: #F69637;
    transition: width 0.5s;
}

.question,
.progress-bar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

