/*
* {
    margin: 0;
}

.progress_bar {
    width: 100%;
    background-color: #F3F3F3;
    /*overflow: hidden;
    transition: all ease-in-out 0.5s;
}


.progress {
    width: 0%;
    height: 10px;
    background-color: #4CAF50;
}
*/
